.container{
    width: 120px; 
    height: 38px;
    margin: 10px;
    padding: 0px;
    cursor: pointer;
    position: relative;
  }

  
  .dropDownControl{
    width: 120px; 
    height: 38px;
    direction: ltr;
    overflow: hidden;
    text-align: left;
    position: relative; 
    color: rgb(0, 0, 0);
    font-family: Roboto, Arial, sans-serif; 
    user-select: none;
    font-size: 18px;
    background-color: rgb(255, 255, 255); 
    padding: 8px 17px;
    border-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    font-weight: 500;
  }   
  
  .dropDownArrow{
      user-select: none;
      border: 0px; 
      padding: 0px; 
      margin: -2px 0px 0px;
      position: absolute; 
      right: 6px; 
      top: 50%;
      width: 7px; 
      height: 4px; 
  }
  
  .dropDownOptionsDiv{
      width: 160px;
      background-color: white;
      z-index: -1;
      padding: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-top-left-radius: 2px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
      position: absolute;
      right: 0px;
      text-align: left;
      display: none;

  }
  
  .dropDownItemDiv{
      color: rgb(86, 86, 86);
      font-family: Roboto, Arial, sans-serif;
      user-select: none;
      font-size: 18px;
      background-color: rgb(255,255,255);
      padding: 5px;
      font-weight: 500;
  }
  .dropDownItemDiv:hover, .checkboxContainer:hover{
      background-color: rgb(235, 235, 235);       
  
  }
  .dropDownItemDiv:hover{
      color: black;
  }
  .dropDownControl:hover{
      background: rgb(235, 235, 235);
  }
  .separatorDiv{
      margin-top: 1px; 
      margin-right: 0px; 
      margin-bottom: 1px; 
      margin-left: 0px; 
      border-top-width: 1px; 
      border-top-style: solid; 
      border-top-color: rgb(235, 235, 235); 
  }
  .checkboxContainer{
      color: black;
      font-family: Roboto, Arial, sans-serif;
      user-select: none;
      font-size: 18px;
      background-color: rgb(255, 255, 255); 
      padding: 5px 8px 5px 5px;
      direction: ltr; 
      text-align: left; 
      white-space: nowrap; 
      
  }       
  .checkboxSpan{
      box-sizing: border-box; 
      position: relative; 
      line-height: 0; 
      font-size: 0px; 
      margin-top: 0px; 
      margin-right: 5px; 
      margin-bottom: 0px; 
      margin-left: 0px; 
      display: inline-block; 
      background-color: rgb(255, 255, 255); 
      border-width: 1px; 
      border-style: solid; 
      border-color: initial; 
      border-image: initial; 
      border-top-left-radius: 1px; 
      border-top-right-radius: 1px; 
      border-bottom-right-radius: 1px; 
      border-bottom-left-radius: 1px; 
      width: 13px; 
      height: 13px; 
      vertical-align: middle; 
      -webkit-box-shadow: none; 
      box-shadow: none; 
      border-color: rgb(198, 198, 198);       
  }
  
  
  .blankDiv #terrainCheck{
      position: relative;  
      /* left: 1px; 
      top: -2px;  */
      width: 13px; 
      height: 13px; 
      overflow-x: hidden; 
      overflow-y: hidden; 
      display: block; /*when = block -> this is the "check" symbol*/ 
   
  }
  
  .blankImg{
      position: relative;
      -webkit-user-select: none; 
      padding: 0px; 
      margin: 0px; 
      -webkit-user-drag: none; 
      width: 13px; 
      height: 13px; 
  }
  
  .checkboxLabel{
      vertical-align: middle; 
      cursor: pointer;
      font-weight: 400;
  }
  